is_global = true

dotnet_analyzer_diagnostic.category-roslynator.severity = error
                           roslynator_analyzers.enabled_by_default = true
roslynator_refactorings.enabled = true
roslynator_compiler_diagnostic_fixes.enabled = true

dotnet_diagnostic.rcs1194.severity = none
dotnet_diagnostic.rcs1161.severity = none
                                                                            dotnet_diagnonstic.rcs1256.severity = none
dotnet_diagnostic.CLASS0001.severity = none